{
    "openapi": "3.1.0",
    "info": {
        "title": "ExaEarn Developer API",
        "version": "1.0.0",
        "description": "Generated from registered ExaEarn developer routes. Restricted product status remains independent from documentation completeness.",
        "license": {
            "name": "Proprietary"
        }
    },
    "servers": [
        {
            "url": "https://api.exaearn.com",
            "description": "Production"
        },
        {
            "url": "https://sandbox-api.exaearn.com",
            "description": "Sandbox"
        },
        {
            "url": "http://127.0.0.1:8000",
            "description": "Local"
        }
    ],
    "paths": {
        "/api/developer/projects/{projectId}/production-access": {
            "get": {
                "operationId": "getProductionAccess",
                "tags": [
                    "Production Access"
                ],
                "summary": "Get Production Access status",
                "description": "Returns safe request history and per-capability status. Internal compliance notes are never returned.",
                "security": [
                    {
                        "DeveloperSession": []
                    }
                ],
                "x-exaearn-status": "BETA",
                "x-exaearn-permission": "production_access.read",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Authorized Developer project ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Production Access state and capability decisions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    }
                }
            },
            "post": {
                "operationId": "requestProductionAccess",
                "tags": [
                    "Production Access"
                ],
                "summary": "Request Production Access",
                "description": "Submits an idempotent, capability-level request. Approval does not create an API key.",
                "security": [
                    {
                        "DeveloperSession": []
                    }
                ],
                "x-exaearn-status": "BETA",
                "x-exaearn-permission": "production_access.request",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Authorized Developer project ID."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductionAccessRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Production Access state and capability decisions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    }
                }
            }
        },
        "/api/developer/v1/convert/execute": {
            "post": {
                "operationId": "postConvertExecute",
                "tags": [
                    "Convert"
                ],
                "summary": "Execute",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "STABLE",
                "x-exaearn-scope": "convert.execute",
                "x-exaearn-rate-limit": "60/minute",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ConvertExecuteRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/developer/v1/convert/history": {
            "get": {
                "operationId": "getConvertHistory",
                "tags": [
                    "Convert"
                ],
                "summary": "History",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "STABLE",
                "x-exaearn-scope": "convert.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/convert/meta": {
            "get": {
                "operationId": "getConvertMeta",
                "tags": [
                    "Convert"
                ],
                "summary": "Meta",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "STABLE",
                "x-exaearn-scope": "convert.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/convert/quote": {
            "post": {
                "operationId": "postConvertQuote",
                "tags": [
                    "Convert"
                ],
                "summary": "Quote",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "STABLE",
                "x-exaearn-scope": "convert.execute",
                "x-exaearn-rate-limit": "60/minute",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ConvertQuoteRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/developer/v1/convert/{swapId}": {
            "get": {
                "operationId": "getConvertSwapId",
                "tags": [
                    "Convert"
                ],
                "summary": "{swapId}",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "STABLE",
                "x-exaearn-scope": "convert.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "swapId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Canonical resource identifier."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/copy/eligibility": {
            "get": {
                "operationId": "getCopyEligibility",
                "tags": [
                    "Copy Trading"
                ],
                "summary": "Eligibility",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "copy.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/copy/follow": {
            "post": {
                "operationId": "postCopyFollow",
                "tags": [
                    "Copy Trading"
                ],
                "summary": "Follow",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "copy.manage",
                "x-exaearn-rate-limit": "60/minute",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CopyFollowRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/developer/v1/copy/follow/{id}": {
            "patch": {
                "operationId": "patchCopyFollowId",
                "tags": [
                    "Copy Trading"
                ],
                "summary": "{id}",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "copy.manage",
                "x-exaearn-rate-limit": "60/minute",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Canonical resource identifier."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CopyFollowUpdateRequest"
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteCopyFollowId",
                "tags": [
                    "Copy Trading"
                ],
                "summary": "{id}",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "copy.manage",
                "x-exaearn-rate-limit": "60/minute",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Canonical resource identifier."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CopyStopRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/developer/v1/copy/leaders": {
            "get": {
                "operationId": "getCopyLeaders",
                "tags": [
                    "Copy Trading"
                ],
                "summary": "Leaders",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "copy.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/copy/leaders/{id}": {
            "get": {
                "operationId": "getCopyLeadersId",
                "tags": [
                    "Copy Trading"
                ],
                "summary": "{id}",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "copy.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Canonical resource identifier."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/copy/orders": {
            "get": {
                "operationId": "getCopyOrders",
                "tags": [
                    "Copy Trading"
                ],
                "summary": "Orders",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "copy.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/copy/pnl": {
            "get": {
                "operationId": "getCopyPnl",
                "tags": [
                    "Copy Trading"
                ],
                "summary": "Pnl",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "copy.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/copy/positions": {
            "get": {
                "operationId": "getCopyPositions",
                "tags": [
                    "Copy Trading"
                ],
                "summary": "Positions",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "copy.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/copy/realtime/replay": {
            "get": {
                "operationId": "getCopyRealtimeReplay",
                "tags": [
                    "Copy Trading"
                ],
                "summary": "Replay",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "copy.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/copy/relationships": {
            "get": {
                "operationId": "getCopyRelationships",
                "tags": [
                    "Copy Trading"
                ],
                "summary": "Relationships",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "copy.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/copy/terms/accept": {
            "post": {
                "operationId": "postCopyTermsAccept",
                "tags": [
                    "Copy Trading"
                ],
                "summary": "Accept",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "copy.manage",
                "x-exaearn-rate-limit": "60/minute",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CopyTermsRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/developer/v1/exaai/allocations": {
            "get": {
                "operationId": "getExaaiAllocations",
                "tags": [
                    "ExaAI"
                ],
                "summary": "Allocations",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "exaai.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            },
            "post": {
                "operationId": "postExaaiAllocations",
                "tags": [
                    "ExaAI"
                ],
                "summary": "Allocations",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "exaai.manage",
                "x-exaearn-rate-limit": "60/minute",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExaAiAllocationRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/developer/v1/exaai/allocations/active": {
            "get": {
                "operationId": "getExaaiAllocationsActive",
                "tags": [
                    "ExaAI"
                ],
                "summary": "Active",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "exaai.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/exaai/overview": {
            "get": {
                "operationId": "getExaaiOverview",
                "tags": [
                    "ExaAI"
                ],
                "summary": "Overview",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "exaai.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/exaai/performance": {
            "get": {
                "operationId": "getExaaiPerformance",
                "tags": [
                    "ExaAI"
                ],
                "summary": "Performance",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "exaai.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/exaai/portfolio": {
            "get": {
                "operationId": "getExaaiPortfolio",
                "tags": [
                    "ExaAI"
                ],
                "summary": "Portfolio",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "exaai.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/exaai/positions": {
            "get": {
                "operationId": "getExaaiPositions",
                "tags": [
                    "ExaAI"
                ],
                "summary": "Positions",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "exaai.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/exaai/readiness": {
            "get": {
                "operationId": "getExaaiReadiness",
                "tags": [
                    "ExaAI"
                ],
                "summary": "Readiness",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "exaai.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/exaai/realtime/replay": {
            "get": {
                "operationId": "getExaaiRealtimeReplay",
                "tags": [
                    "ExaAI"
                ],
                "summary": "Replay",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "exaai.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/exaai/sessions": {
            "get": {
                "operationId": "getExaaiSessions",
                "tags": [
                    "ExaAI"
                ],
                "summary": "Sessions",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "exaai.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            },
            "post": {
                "operationId": "postExaaiSessions",
                "tags": [
                    "ExaAI"
                ],
                "summary": "Sessions",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "exaai.manage",
                "x-exaearn-rate-limit": "60/minute",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExaAiSessionRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/developer/v1/exaai/sessions/current": {
            "get": {
                "operationId": "getExaaiSessionsCurrent",
                "tags": [
                    "ExaAI"
                ],
                "summary": "Current",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "exaai.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/exaai/sessions/{id}/pause": {
            "post": {
                "operationId": "postExaaiSessionsIdPause",
                "tags": [
                    "ExaAI"
                ],
                "summary": "Pause",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "exaai.manage",
                "x-exaearn-rate-limit": "60/minute",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Canonical resource identifier."
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "x-exaearn-request-body": "NONE",
                "x-exaearn-request-body-reason": "The authoritative controller accepts no request fields for this state transition."
            }
        },
        "/api/developer/v1/exaai/sessions/{id}/resume": {
            "post": {
                "operationId": "postExaaiSessionsIdResume",
                "tags": [
                    "ExaAI"
                ],
                "summary": "Resume",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "exaai.manage",
                "x-exaearn-rate-limit": "60/minute",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Canonical resource identifier."
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "x-exaearn-request-body": "NONE",
                "x-exaearn-request-body-reason": "The authoritative controller accepts no request fields for this state transition."
            }
        },
        "/api/developer/v1/exaai/sessions/{id}/stop": {
            "post": {
                "operationId": "postExaaiSessionsIdStop",
                "tags": [
                    "ExaAI"
                ],
                "summary": "Stop",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "exaai.manage",
                "x-exaearn-rate-limit": "60/minute",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Canonical resource identifier."
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "x-exaearn-request-body": "NONE",
                "x-exaearn-request-body-reason": "The authoritative controller accepts no request fields for this state transition."
            }
        },
        "/api/developer/v1/exaai/strategies": {
            "get": {
                "operationId": "getExaaiStrategies",
                "tags": [
                    "ExaAI"
                ],
                "summary": "Strategies",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "exaai.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/api/developer/v1/exaai/terms/accept": {
            "post": {
                "operationId": "postExaaiTermsAccept",
                "tags": [
                    "ExaAI"
                ],
                "summary": "Accept",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "exaai.manage",
                "x-exaearn-rate-limit": "60/minute",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful ExaEarn response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "422": {
                        "$ref": "#/components/responses/BusinessRuleError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExaAiTermsRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/developer/v1/exaai/trades": {
            "get": {
                "operationId": "getExaaiTrades",
                "tags": [
                    "ExaAI"
                ],
                "summary": "Trades",
                "description": "ExaEarn Developer API contract backed by the canonical product service. Product status and scope are authoritative metadata.",
                "security": [
                    {
                        "ExaSignedRequest": []
                    }
                ],
                "x-exaearn-status": "RESTRICTED",
                "x-exaearn-scope": "exaai.read",
                "x-exaearn-rate-limit": "120/minute",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "description": "Bounded result limit where supported; unsupported query fields are ignored or rejected by the endpoint contract."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful ExaEarn response.",
                        "content": {
[...]
