openapi: 3.1.0
info:
  title: ExaEarn Developer API
  version: 1.0.0-phase14
  description: External developer contracts for ExaEarn public market data, signed private APIs, sandbox balances, Spot/Futures/Margin/Convert/Staking/Copy/ExaAI access, realtime replay and webhook delivery.
servers:
  - url: https://api.exaearn.com
    description: Production API gateway
  - url: http://127.0.0.1:8000
    description: Local Laravel API gateway
security:
  - ExaApiKey: []
    ExaTimestamp: []
    ExaNonce: []
    ExaSignature: []
paths:
  /api/developer/v1/exchange-info:
    get:
      security: []
      summary: Exchange metadata
      responses:
        "200":
          description: Exchange metadata response
  /api/developer/v1/status:
    get:
      security: []
      summary: Developer API product status
      responses:
        "200":
          description: Product status, permissions, webhook events and websocket topics
  /api/developer/v1/markets:
    get:
      security: []
      summary: Market symbols
      responses:
        "200":
          description: Symbol list
  /api/developer/v1/tickers:
    get:
      security: []
      summary: Market tickers
      responses:
        "200":
          description: Ticker list
  /api/developer/v1/ticker/{symbol}:
    get:
      security: []
      summary: Single market ticker
      parameters:
        - $ref: "#/components/parameters/Symbol"
      responses:
        "200":
          description: Ticker response
  /api/developer/v1/orderbook/{symbol}:
    get:
      security: []
      summary: Sequenced order book snapshot
      parameters:
        - $ref: "#/components/parameters/Symbol"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 5
            maximum: 100
            default: 50
      responses:
        "200":
          description: Order book response
  /api/developer/v1/trades/{symbol}:
    get:
      security: []
      summary: Recent public trades
      parameters:
        - $ref: "#/components/parameters/Symbol"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
      responses:
        "200":
          description: Recent trades response
  /api/developer/v1/klines/{symbol}:
    get:
      security: []
      summary: Candlesticks
      parameters:
        - $ref: "#/components/parameters/Symbol"
        - name: interval
          in: query
          schema:
            type: string
            enum: [1m, 3m, 5m, 15m, 30m, 1h, 4h, 1d]
            default: 1m
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 500
      responses:
        "200":
          description: Candle response
  /api/developer/v1/wallet/balances:
    get:
      summary: Signed balance read
      description: Requires `account.read`. Sandbox keys return isolated sandbox balances; production keys return real account wallet balances.
      responses:
        "200":
          description: Balance response
        "401":
          $ref: "#/components/responses/AuthError"
        "403":
          $ref: "#/components/responses/PermissionError"
  /api/developer/v1/realtime/session:
    post:
      summary: Create signed developer realtime session
      description: Requires `account.read`. Returns session metadata, heartbeat policy and replay endpoint.
      responses:
        "200":
          description: Realtime session response
        "401":
          $ref: "#/components/responses/AuthError"
        "403":
          $ref: "#/components/responses/PermissionError"
  /api/developer/v1/realtime/replay:
    get:
      summary: Replay private realtime events after sequence
      description: Requires `account.read`.
      parameters:
        - name: stream
          in: query
          required: true
          schema:
            type: string
        - name: after_sequence
          in: query
          required: true
          schema:
            type: integer
            minimum: 0
      responses:
        "200":
          description: Ordered replay events
  /api/developer/v1/spot/orders:
    post:
      summary: Submit Spot order
      description: Requires `spot.trade`. Orders are routed through ExaEarn Spot OMS and risk controls.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpotOrderRequest"
      responses:
        "201":
          description: Order accepted
        "401":
          $ref: "#/components/responses/AuthError"
        "403":
          $ref: "#/components/responses/PermissionError"
        "422":
          description: Order rejected
  /api/developer/v1/spot/orders/{orderId}:
    get:
      summary: Read Spot order
      description: Requires `spot.read`.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Order response
        "404":
          description: Order not found
  /api/developer/v1/futures/markets:
    get:
      summary: Futures market catalog
      description: PRIVATE_BETA read-only route requiring `futures.read`.
      responses:
        "200":
          description: Futures market list
  /api/developer/v1/futures/orders:
    post:
      summary: Submit Futures order
      description: PRIVATE_BETA route requiring `futures.trade`. Orders route through the existing Futures OMS, margin and risk services.
      x-exaearn-status: PRIVATE_BETA
      x-exaearn-scope: futures.trade
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FuturesOrderRequest"
      responses:
        "201":
          description: Futures order accepted
        "401":
          $ref: "#/components/responses/AuthError"
        "403":
          $ref: "#/components/responses/PermissionError"
        "422":
          description: Futures risk or validation rejection
    get:
      summary: Futures orders
      description: PRIVATE_BETA read-only route requiring `futures.read`.
      x-exaearn-status: PRIVATE_BETA
      x-exaearn-scope: futures.read
      responses:
        "200":
          description: Futures order list
  /api/developer/v1/futures/orders/{orderUuid}:
    get:
      summary: Read Futures order
      description: PRIVATE_BETA route requiring `futures.read`.
      x-exaearn-status: PRIVATE_BETA
      x-exaearn-scope: futures.read
      parameters:
        - name: orderUuid
          in: path
          required: true
          schema:
            type: string
    delete:
      summary: Cancel Futures order
      description: PRIVATE_BETA route requiring `futures.trade`.
      x-exaearn-status: PRIVATE_BETA
      x-exaearn-scope: futures.trade
      parameters:
        - name: orderUuid
          in: path
          required: true
          schema:
            type: string
  /api/developer/v1/futures/positions:
    get:
      summary: Futures positions
      description: PRIVATE_BETA read-only route requiring `futures.read`.
      x-exaearn-status: PRIVATE_BETA
      x-exaearn-scope: futures.read
      responses:
        "200":
          description: Futures positions
  /api/developer/v1/futures/margin/status:
    get:
      summary: Futures margin state
      description: PRIVATE_BETA route requiring `futures.read`.
      x-exaearn-status: PRIVATE_BETA
      x-exaearn-scope: futures.read
  /api/developer/v1/margin/accounts:
    get:
      summary: Margin accounts
      description: PRIVATE_BETA read-only route requiring `margin.read`.
      x-exaearn-status: PRIVATE_BETA
      x-exaearn-scope: margin.read
      responses:
        "200":
          description: Margin account state
    post:
      summary: Create or retrieve margin account
      description: PRIVATE_BETA route requiring `margin.manage`.
      x-exaearn-status: PRIVATE_BETA
      x-exaearn-scope: margin.manage
  /api/developer/v1/margin/borrow:
    post:
      summary: Borrow on margin
      description: PRIVATE_BETA route requiring `margin.manage`. Uses existing lending-pool, liquidity and margin-risk controls.
      x-exaearn-status: PRIVATE_BETA
      x-exaearn-scope: margin.manage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarginBorrowRequest"
  /api/developer/v1/margin/loans:
    get:
      summary: Margin loans
      description: PRIVATE_BETA route requiring `margin.read`.
      x-exaearn-status: PRIVATE_BETA
      x-exaearn-scope: margin.read
  /api/developer/v1/margin/loans/{loanUuid}/repay:
    post:
      summary: Repay margin loan
      description: PRIVATE_BETA route requiring `margin.manage`.
      x-exaearn-status: PRIVATE_BETA
      x-exaearn-scope: margin.manage
  /api/developer/v1/convert/history:
    get:
      summary: Convert history
      description: AVAILABLE read-only route requiring `convert.read`.
      x-exaearn-status: AVAILABLE
      x-exaearn-scope: convert.read
      responses:
        "200":
          description: Convert history
  /api/developer/v1/convert/quote:
    post:
      summary: Create Convert quote
      description: AVAILABLE route requiring `convert.execute`. Uses the existing Convert quote, liquidity and treasury controls.
      x-exaearn-status: AVAILABLE
      x-exaearn-scope: convert.execute
  /api/developer/v1/convert/execute:
    post:
      summary: Execute Convert quote
      description: AVAILABLE route requiring `convert.execute`. Execution remains idempotent and ledger-backed through the existing Convert service.
      x-exaearn-status: AVAILABLE
      x-exaearn-scope: convert.execute
  /api/developer/v1/staking/products:
    get:
      summary: Staking products
      description: AVAILABLE route requiring `staking.read`.
      x-exaearn-status: AVAILABLE
      x-exaearn-scope: staking.read
  /api/developer/v1/staking/positions:
    get:
      summary: User staking positions
      description: AVAILABLE route requiring `staking.read`.
      x-exaearn-status: AVAILABLE
      x-exaearn-scope: staking.read
    post:
      summary: Create staking position
      description: AVAILABLE route requiring `staking.manage`. Uses the native user staking service, not admin staking controls.
      x-exaearn-status: AVAILABLE
      x-exaearn-scope: staking.manage
  /api/developer/v1/staking/positions/{publicId}/unstake:
    post:
      summary: Request unstake
      description: AVAILABLE route requiring `staking.manage`.
      x-exaearn-status: AVAILABLE
      x-exaearn-scope: staking.manage
  /api/developer/v1/copy/leaders:
    get:
      summary: Copy Trading lead traders
      description: PRIVATE_BETA route requiring `copy.read`.
      x-exaearn-status: PRIVATE_BETA
      x-exaearn-scope: copy.read
  /api/developer/v1/copy/follow:
    post:
      summary: Follow a Copy Trading lead
      description: PRIVATE_BETA route requiring `copy.manage`. Uses public-mode, eligibility, capacity and follower-risk controls.
      x-exaearn-status: PRIVATE_BETA
      x-exaearn-scope: copy.manage
  /api/developer/v1/copy/relationships:
    get:
      summary: Copy Trading relationships
      description: PRIVATE_BETA route requiring `copy.read`.
      x-exaearn-status: PRIVATE_BETA
      x-exaearn-scope: copy.read
  /api/developer/v1/exaai/strategies:
    get:
      summary: ExaAI strategies
      description: PRIVATE_BETA route requiring `exaai.read`.
      x-exaearn-status: PRIVATE_BETA
      x-exaearn-scope: exaai.read
  /api/developer/v1/exaai/sessions:
    post:
      summary: Start ExaAI session
      description: PRIVATE_BETA route requiring `exaai.manage`. Uses existing ExaAI governance, market eligibility, operations mode and kill-switch controls.
      x-exaearn-status: PRIVATE_BETA
      x-exaearn-scope: exaai.manage
  /api/developer/v1/exaai/sessions/{id}/pause:
    post:
      summary: Pause ExaAI session
      description: PRIVATE_BETA route requiring `exaai.manage`.
      x-exaearn-status: PRIVATE_BETA
      x-exaearn-scope: exaai.manage
components:
  securitySchemes:
    ExaApiKey:
      type: apiKey
      in: header
      name: EXA-API-KEY
    ExaTimestamp:
      type: apiKey
      in: header
      name: EXA-API-TIMESTAMP
    ExaNonce:
      type: apiKey
      in: header
      name: EXA-API-NONCE
    ExaSignature:
      type: apiKey
      in: header
      name: EXA-API-SIGNATURE
  parameters:
    Symbol:
      name: symbol
      in: path
      required: true
      schema:
        type: string
        example: BTC-USDT
  schemas:
    SpotOrderRequest:
      type: object
      required: [symbol, side, type, quantity]
      properties:
        symbol:
          type: string
          example: BTC-USDT
        side:
          type: string
          enum: [buy, sell]
        type:
          type: string
          enum: [market, limit, stop_loss, take_profit]
        quantity:
          type: string
          example: "0.001"
    FuturesOrderRequest:
      type: object
      required: [symbol, type, side, quantity, leverage]
      properties:
        symbol:
          type: string
          example: BTCUSDT
        type:
          type: string
          enum: [market, limit, stop-market, stop-limit, trailing-stop]
        side:
          type: string
          enum: [long, short]
        quantity:
          type: string
          example: "0.01"
        leverage:
          type: integer
          minimum: 1
          maximum: 100
        price:
          type: string
          example: "65000"
        client_order_id:
          type: string
    MarginBorrowRequest:
      type: object
      required: [account_uuid, asset, amount]
      properties:
        account_uuid:
          type: string
        asset:
          type: string
          example: USDT
        amount:
          type: string
          example: "100"
        idempotency_key:
          type: string
        price:
          type: string
          example: "65000"
        client_order_id:
          type: string
  responses:
    AuthError:
      description: Invalid API credentials, timestamp or signature
    PermissionError:
      description: API key lacks required permission or IP access
